
@{
    ViewData["Title"] = "Index";
}
@*<style>


*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
  background: hsla(250, 8%, 14%,1);
  font-family: 'Righteous', cursive;
}
.container {
  font: 12px;
  text-align: center;
  padding: 12em 0 0;
}

.button:link, .button:visited {
	position: relative;
  display: inline-block;
	width: 15em;
	height: 3em;
	border-top: 1px solid hsla(240, 9%, 6%,1);
	border-radius: 3px;
	background: hsla(240, 9%, 11%,1);
	border-radius: 2px;
	box-shadow: 0 1px 0 hsla(255,255%,255%,0.05), 0 0 1px hsla(255,255%,255%,0.1), inset 0 1px 2px hsla(0,0%,0%,0.2);
  transition: all .1s ease;
	z-index: 1;
}
.button:link:before, .button:visited:before {
	position: absolute;
	top: 2px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	padding: .5em 0 0;
	border-radius: 2px;
	background: linear-gradient(to bottom, hsla(240, 8%, 15%,1), hsla(240, 8%,9%,1));
	box-shadow: inset 0 1px 0 hsla(255,255%,255%,0.05), inset 0 0 1px hsla(255,255%,255%,0.1), 0 4px 6px hsla(0,0%,0%,0.85), 0 1px 2px hsla(0,0%,0%,0.9);
	color: hsla(0, 0%, 87%,1);
	font-weight: normal;
	font-size: 117%;
	text-shadow: 0 -1px 1px hsla(0,0%,0%,0.5);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .08em;
	line-height: 1.2;
	content: "I'M A BUTTON";
	z-index: 0;
}
.button:hover:before {
	background: hsla(26, 98%, 47%,1);
	background: linear-gradient(to bottom, hsla(240, 9%, 18%,1), hsla(240, 6%, 12%,1));
	color: hsla(0, 0%, 96%,1);
}
.button:active:before {
	border-top: 1px solid hsla( 0, 0%, 1%,1);
	background: hsla(26, 98%, 47%,1);
	background: linear-gradient(to bottom, hsla(240, 6%, 7%,1), hsla(240, 8%, 7%,1));
	color: hsla( 0, 0%, 20%, 1);
	box-shadow: inset 0 1px 3px hsla(0,0%,0%,0.3), inset 0 0 2px hsla(0,0%,0%,0.6), 0 1px 0 hsla(0,0%,20%,1);
}
</style>

<p class="container">
    <a href="/" class="button"></a>
</p>
*@








<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }


        a:link {
            text-decoration: none;
        }


        a:visited {
            text-decoration: none;
        }


        a:hover {
            text-decoration: none;
            color:azure;
        }


        a:active {
            text-decoration: none;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -60px;
            right: -110px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your business</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form>
                            <p class="mb-4" style="color: dodgerblue">
                             BOOK YOUR RIDE NOW..!
                            </p>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
                             <a href="/booking">BOOK NOW</a>
                            </button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

